/* initial box layout model */

html {
	box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
  background-color: #40535D;
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-flow: column nowrap;
  margin: 0;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  /* color: #96d294; */
  color: #9cec9a;
}

p {
  color: #AEC8BD;
  /* color: rgb(206, 238, 252); */
}

h1, 
p {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 20px 0;
}

span {
  font-family: 'Sacramento', cursive;
  color: #AEC8BD;
  /* color: rgb(206, 238, 252); */
  font-size: 40px;
  margin: 0;
}

a {
    text-decoration: none;
    color: #dfbc9e;
    /* color: #EB9971; */
    transition: all 0.25s ease-in-out;
    border-bottom: 4px solid #dfbc9e;
}

a:hover {
  border-bottom: 4px solid transparent;
  text-shadow: 0 0 20px #fff, 
  0 0 30px #ff4da6, 
  0 0 40px #ff4da6, 
  0 0 50px #ff4da6,
  0 0 60px #ff4da6;
  /* 0 0 70px #ff4da6,  */
  /* 0 0 80px #ff4da6; */
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

li {
  margin: 0 10px;
}

svg {
  width: 35px;
  height: 35px;
  transition: all .2s ease-in-out;
}

header a {
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

header a:hover {
  /* border-bottom: none; */
  border-bottom: 4px solid rgb(206, 238, 252);
}

svg path {
  fill: #AEC8BD;
  /* fill: rgb(206, 238, 252); */
  transition: all .2s ease-in-out;
  border-bottom: none;
}

header a:hover svg path {
  /* fill: rgba(247, 240, 240, 0.935); */
  fill: rgb(206, 238, 252);
}
header a:hover svg {
  /* filter: drop-shadow(0px 0px 14px #ff4da6); */
  filter: drop-shadow(3px 5px 14px #7392e0);
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

footer span {
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  main {
    justify-content: flex-start;
  }

  h1 {
    font-size: 2.95em;
  }
  
  p {
    font-size: 1.75em;
    font-weight: bold;
  }
}