/* initial box layout model */

html {
	box-sizing: border-box;
    font-size: 16px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
    background-color: #455A64;
}

h1 {
    font-size: 75px;
    color: #96d294;
}

h1,
.intro p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    letter-spacing: 10px;
}

.intro span {
    font-family: 'Sacramento', cursive;
}